params {
    input = ''
    output= ''
    run_name = ''
    adapter_file = "${projectDir}/dat/adapters/TruSeq3-PE-2.fa"
    threads = 4
    reference = "${projectDir}/dat/schemes/RSVA-and-B-primer-schemes/RSV_SCHEME/V1a/RSV_SCHEME.reference.fasta"
    rsv_scheme = "${projectDir}/dat/schemes/RSVA-and-B-primer-schemes/RSV_SCHEME/V1a/RSV_SCHEME.scheme.bed"
    mosdepth_regions = "${projectDir}/dat/schemes/RSVA-and-B-primer-schemes/RSV_SCHEME/V1a/RSV_SCHEME.regions.bed"
    
    organize_output = true
    platform = 'illumina' // Default to Illumina, can be overridden with --platform ont

    scheme_dir = "${projectDir}/dat/schemes/RSVA-and-B-primer-schemes"
    scheme = "RSV_SCHEME"
    scheme_version = "1a"
    medaka_model = "${projectDir}/models/r941_min_high_g360_model.hdf5"
    // medaka_model = 'r941_min_high_g360'
    
}


singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind ${projectDir}"
    pullTimeout = '60 min'
}

process {
    withName: 'INDEX_REFERENCE|BWA_MEM' {
        container = 'quay.io/biocontainers/bwa:0.7.17--hed695b0_7'
    }
    withName: TRIMMOMATIC {
        container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'
    }
    withName: 'QUALITY_CHECK_RAW_READS|FASTQC_TRIMMED' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    withName: SAM_TO_BAM {
        container = 'quay.io/biocontainers/samtools:1.15.1--h1170115_0'
    }
    withName: 'IVAR_TRIM|IVAR_VARIANTS|IVAR_CONSENSUS' {
        container = 'quay.io/biocontainers/ivar:1.3.1--h089eab3_0'
    }
    withName: 'MULTIQC_RAW|MULTIQC_TRIMMED' {
        container = 'quay.io/biocontainers/multiqc:1.13--pyhdfd78af_0'
    }
    withName: MOSDEPTH {
        container = 'quay.io/biocontainers/mosdepth:0.3.3--hdfd78af_1'
    }
     
    
    withName: PLOT_MOSDEPTH_REGIONS {
        container = 'quay.io/biocontainers/mulled-v2-ad9dd5f398966bf899ae05f8e7c54d0fb10cdfa7:05678da05b8e5a7a5130e90a9f9a6c585b965afa-0'
    }
    withName: PLOT_GENOME_LENGTHS {
        container = 'quay.io/biocontainers/mulled-v2-ff46c3f421ca930fcc54e67ab61c8e1bcbddfe22:1ad3da14f705eb0cdff6b5a44fea4909307524b4-0'
    }
    withName: 'GUPPYPLEX_MERGE|GUPPYPLEX_TRIM' {
        container = 'quay.io/biocontainers/artic:1.2.3--pyhdfd78af_0'
    }
    withName: 'NANOPLOT_RAW|NANOPLOT_TRIMMED' {
        container = 'quay.io/biocontainers/nanoplot:1.39.0--pyhdfd78af_0'
    }
    withName: ARTIC_MINION {
        container = 'quay.io/biocontainers/artic:1.2.3--pyhdfd78af_0'
    }
}