params {
    input = ''
    output= ''
    adapter_file = "/home/sam/resvgen_smk/adapters/TruSeq3-PE-2.fa"
    threads = 4
    reference = "/home/sam/resvgen_smk/schemes/RSVA-and-B-primer-schemes/RSV_SCHEME/V1a/RSV_SCHEME.reference.fasta"
    rsv_scheme = "/home/sam/resvgen_smk/schemes/RSVA-and-B-primer-schemes/RSV_SCHEME/V1a/RSV_SCHEME.scheme.bed"
    organize_output = true
}

docker {
    enabled = true
}

process {
    withName: INDEX_REFERENCE {
        container = 'staphb/bwa:latest'
    }
    withName: TRIMMOMATIC {
        container = 'staphb/trimmomatic:latest'
    }
    withName: FASTQC_TRIMMED {
        container = 'staphb/fastqc:latest'
    }
    withName: BWA_MEM {
        container = 'staphb/bwa:latest'
    }
    withName: SAM_TO_BAM {
        container = 'staphb/samtools:latest'
    }
    withName: IVAR_TRIM {
        container = 'andersenlabapps/ivar:latest'
    }
    withName: IVAR_VARIANTS {
        container = 'andersenlabapps/ivar:latest'
    }
    withName: IVAR_CONSENSUS {
        container = 'andersenlabapps/ivar:latest'
    }
    withName: MULTIQC_TRIMMED {
        container = 'ewels/multiqc:latest'
    } 
}